<!doctype html>
<html lang="en">
<head>
  <title>quack.space | Location-based file sharing</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="quack.space">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57px.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114px.png" />
  <link href="//fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css">
  <script>
    var init_lat = {{ init_lat }};
    var init_lon = {{ init_lon }};
  </script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.transit.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
</head>
<body>
  <div id="container">
    <div id="container-topbar">
      <div id="topbutton-location" onmouseover="$(this).css('opacity',0.7);" onmouseout="$(this).css('opacity',1);" onclick="$('#container-map').slideToggle();$('#container-error').slideUp();google.maps.event.trigger(map, 'resize');reCenterMap();"><i class="fa fa-2x fa-map-marker"></i></div>
      <img src="/static/images/quackspace-1024.png">
    </div>
    <div id="container-map">
      <div id="googleMap" style="width:100%;height:250px;"></div>
    </div>
    <div id="container-error">
      <img src="/static/images/tellus.png" style="height:100px;float:left;margin-right:10px;">
      <span style="color:#ff8000;"><b>Quack!</b></span><br>
      We could not geolocate you.<br>Just tell us where you are?
    </div>
    <div id="container-buttons">
      <div onmouseover="$(this).css('opacity',0.7);" onmouseout="$(this).css('opacity',1);" class="button" onclick="$('#fileInput').click()"><i class="fa fa-2x fa-upload"></i> UPLOAD</div>
    </div>
    <div id="container-loader"><div class="loader"></div></div>
    <div id="container-progress">
    </div>
    <div id="container-files"></div>
    <form action="#" method="post" enctype="multipart/form-data">
      <input type="file" id="fileInput" accept="application/*,image/*,audio/*,video/*" onchange="doFiles(this.files)" style="visibility:hidden;position:fixed;top:-50;left:-50"/>
    </form>
  </div>
  <!-- <div id="debug"></div> -->
</body>
</html>
