<!doctype html>
<html lang="en">
<head>
  <title>quackspace</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Virtulus">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57px.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114px.png" />
  <link rel="stylesheet" href="/static/js/jquery.mobile-1.4.4.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,700" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery-1.11.1.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>
<div id="background-text">Drop files here</div>
<div id="logo"><img src="/static/images/quackspace-10240.png"></div>

</body>
</html>
