body {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

#logo {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

#logo img {
  max-width:50%;
}

#background-text {
  position:fixed;
  top:50%;left:50%;width:300px;height:200px;
  margin-top:-150px;
  margin-left:-150px;
  font-size:40px;
  font-family:Roboto;
  font-weight:100;
  color:#c0c0c0;
  z-index:-10;
  text-align:center;
  vertical-align:middle;
}

#debug {
  position:fixed;
  top:0;
  left:50%;
  width:400px;
  height:40px;
  background:#c0c0c0;
  color:#000000;
  margin-left:-200px;
  z-index:10000;
  padding:5px;
  line-height:40px;
  vertical-align:middle;
  text-align:center;
}

#filedrop {
  position:fixed;
  top:0;
  left:0;
  width:calc( 100% - 20px );
  height:calc( 100% - 20px );
}

.filedrop-hover {
  border:10px dotted #c0c0c0;
}
